{% extends 'admin_dashboard/admin_elements/admin_layout.html' %}

{% block headerScripts %}
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
{% endblock %}

{% block content %}

<div class="card" style="background-color: rgba(53, 56, 73, 0.95);">
    <div class="card-body" >
        <h3 class="card-title" style="color: #ffffff;">Generate Orders Data</h3>
        <hr>
        <div>
            <form class="modal-content"  style="background-color: rgba(53, 56, 73, 0.95);" action="" method="post">
                <label for="litepicker" class="form-label" style="color: #ffffff;">Date Range:</label>
                <input class="form-control" id="litepicker" type="text" value="" />
            </form>
        </div>
    </div>
</div>

<!-- alert messages below -->
    {% include "elements/alert_messages.html" %}
{% endblock %}
{% block scripts %}
<script>
    const picker = new Litepicker({
        element: document.getElementById('litepicker'),
        singleMode: false,
        setup: (picker) => {
            picker.on('hide', () => {

            });
        },
    });
</script>
{% endblock %}