{% extends 'admin_dashboard/admin_elements/admin_layout.html' %}

{% block styles %}
    <style>
        #user_profile_card.card{
            box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
        }
        #user_profile_card.card:hover{
            transform: scale(1.01);
            box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
        }
    </style>
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page" style="color: #dcdcdc;">Admin Dashboard</li>
      </ol>
    </nav>
    <div class="card" style="background-color: rgba(53, 56, 73, 0.95);">
        <div class="card-body" >
            <h3 class="card-title" style="color: #ffffff;">Bulletin Board</h3>
            <hr>
            <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Notice</th>
                            <th scope="col" class="text-end">Created By</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>04/25/2023</td>
                                <td style="width:75%">Please test out all new features added to the application.</td>
                                <td class="text-end">Kevin</td>
                            </tr>
                            <tr>
                                <td>04/24/2023</td>
                                <td style="width:75%">Orders have not been completed within the timelimit. Team meeting to discuss a solution.</td>
                                <td class="text-end">Management</td>
                            </tr>
                    </tbody>
                </table>
        </div>
    </div>



    <!-- alert messages below -->
    {% include "elements/alert_messages.html" %}

{% endblock %}