{% extends 'admin_dashboard/admin_elements/admin_layout.html' %}

{% block headerScripts %}
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>
{% endblock %}

{% block content %}

<div class="card" style="background-color: rgba(53, 56, 73, 0.95);">
    <div class="card-body" >
        <h3 class="card-title" style="color: #ffffff;">Generate Orders Data</h3>
        <hr>
        <div>
            <form class="modal-content"  style="background-color: rgba(53, 56, 73, 0.95);" action="" method="post">
                <div class="row">
                    <div class="col-12">
                        <label for="litepicker" class="form-label" style="color: #ffffff;">Date Range:</label>
                        <input class="form-control" id="litepicker" type="text" value=""  required/>
                    </div>
                    <div class="col-6 mt-2">
                        <label for="minOrders" class="form-label" style="color: #ffffff;">Min Daily Orders</label>
                        <input type="number" id="minOrders" name="minOrders" min="1" class="form-control" value="1" />
                    </div>
                    <div class="col-6 mt-2">
                        <label for="maxOrders" class="form-label" style="color: #ffffff;">Max Daily Orders</label>
                        <input type="number" id="maxOrders" name="maxOrders" min="1" class="form-control" value="4" />
                    </div>
                    <hr>
                    <div class="col-12">
                        <button type="button" id="submitOrders" class="btn btn-secondary">Generate Data</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- alert messages below -->
    {% include "elements/alert_messages.html" %}
{% endblock %}
{% block scripts %}
<script>
    var start_date;
    var end_end;

    const picker = new Litepicker({
        element: document.getElementById('litepicker'),
        singleMode: false,
        setup: (picker) => {
            picker.on('hide', () => {
                start_date = picker.getStartDate().format('YYYY–MM-DD')
                end_date = picker.getEndDate().format('YYYY-MM-DD')
            });
        },
    });

    $("#submitOrders").on("click", function() {
        var min_orders = $('#minOrders').val();
        var max_orders = $('#maxOrders').val();

        new_url = location.protocol + '//' + location.host + location.pathname +'?start_date=' + start_date + '&end_date=' + end_date +
            '&min_orders=' + min_orders + '&max_orders=' + max_orders;
        window.location.href = new_url;
    })


</script>
{% endblock %}