<div class="modal fade modal-dialog-scrollable"  id="updatePasswordDialog">
    <div class="modal-dialog" >
        <form class="modal-content"  style="background-color: rgba(53, 56, 73, 0.95);" action="{{ url_for('update_user_password') }}" method="post">
            <div class="modal-header" style="border-bottom-color:#111217">
                <h1 class="modal-title fs-5" style="color: #ffffff;">Update Email</h1>
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div style="display:none">
                    <input class="invisible"  id="_id" name="_id" value="{{ current_user._id }}">
                </div>
                <div style="display:none">
                    <input class="invisible"  id="email" name="email" value="{{ current_user.email }}">
                </div>
                <div class="col-12">
                    <label for="oldPass" class="form-label" style="color: #ffffff;">Verify Old Password:</label>
                    <div class="mb-3">
                        <input class="form-control" type="password" id="oldPass" name="oldPass" value="" required>
                        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                    </div>
                </div>
                <div class="col-12">
                    <label for="newPass" class="form-label" style="color: #ffffff;">New Password:</label>
                    <div class="mb-3">
                        <input class="form-control" type="password" id="newPass" name="newPass" value="" required>
                        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top-color:#111217">
                <button type="submit" class="btn btn-danger">Update Password</button>
            </div>
        </form>
    </div>
</div>