<div class="modal fade modal-dialog-scrollable"  id="updatePhoneDialog">
    <div class="modal-dialog" >
        <form class="modal-content"  style="background-color: rgba(53, 56, 73, 0.95);" action="{{ url_for('update_user_phone') }}" method="post">
            <div class="modal-header" style="border-bottom-color:#111217">
                <h1 class="modal-title fs-5" style="color: #ffffff;">Update Phone Number</h1>
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div style="display:none">
                    <input class="invisible"  id="_id" name="_id" value="{{ current_user._id }}">
                </div>
                <div class="col-12">
                    <label for="phone" class="form-label" style="color: #ffffff;">Phone Number:</label>
                    <div class="mb-3">
                        <input type="text" id="phone" name="phone" class="form-control" value="{{ user_phone }}"/>
                        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top-color:#111217">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </form>
    </div>
</div>