{% extends 'layout.html' %}

{% block headerScripts %}
    <!-- header scripts here -->
{% endblock %}

{% block styles %}
    <!-- CSS style code here -->
    <style>
        td{
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block content %}

		<!-- Page Wrapper -->
<div class="container-fluid">
    <div class="row navbar-dark ">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2  min-vh-90">
                <a href="" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto  text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">User Profile</span>
                </a>
                <ul class="navbar-nav  nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" >
                    <li class="nav-item">
                        <a href="/user_profile" class="nav-link align-middle px-0 ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                            </svg>
                            <span class="ms-1 d-none d-sm-inline ">Profile Settings</span>
                        </a>
                    </li>
                    <li>
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-map-fill" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z"/>
                              <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"/>
                            </svg>
                            <span class="ms-1 d-none d-sm-inline">Address</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/user_orders" class="nav-link align-middle px-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table " viewBox="0 0 16 16">
                              <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
                            </svg>
                            <span class="ms-1 d-none d-sm-inline">Orders</span>
                        </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        <div class="col py-3">
            <div class="card" style="background-color: #212529;">
                <div class="card-body" >
                    <h1 class="card-title" style="color: #dee2e6;">Orders:</h1>
                    <hr style="margin-top:5px;">
                    <table class="table table-dark table-striped">
                        <div class="table-wrapper">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Num_Items</th>
                                    <th scope="col">Total_Price</th>
                                    <th scope="col">Status</th>
                                    <th scope="col" class="text-end">Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <td>04/22/2023</td>
                                <td>3</td>
                                <td>$23.59</td>
                                <td>Delivered</td>
                                <td>
                                    <a href="" type="button" class="btn btn-secondary float-end">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-view-list" viewBox="0 0 16 16">
                                          <path d="M3 4.5h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1H3zM1 2a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 2zm0 12a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 14z"/>
                                        </svg>
                                    </a>
                                </td>
                            </tbody>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}