<h2 class="major">Get in touch</h2>
<p>Let us know about your experience here with us! Would you like to let us know how your delivery went or inquire about catering services? Fill out the form below and send it our way. It's better than Yelp, in that we can actually address any comments or issues and share your comments with our staff. Thank you for choosing Cacciatore's.</p>
<form method="post" action="{{ url_for("get_in_touch")}}">
    <div class="fields">
        <div class="field">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />
            <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" />
            <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
        </div>
        <div class="field">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="4"></textarea>
            <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
        </div>
    </div>
    <ul class="actions">
        <li><button type="submit" class="btn btn-dark">Submit</button></li>
    </ul>
</form>
<ul class="contact">
    <li class="icon solid fa-home">
        Cacciatore's Inc<br />
        1234 Sullivan Street (Across from the Medical Center)<br />
        Los Angeles, CA 00000-0000
    </li>
    <li class="icon solid fa-phone">(000) 000-0000</li>
    <li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
    <li class="icon brands fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
    <li class="icon brands fa-facebook-f"><a href="#">facebook.com/untitled-tld</a></li>
    <li class="icon brands fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>
</ul>
