<!-- Header -->
<header id="header">
    <h1><a href="/">Cacciatore's</a></h1>

    <nav>
        <a href="#menu">Menu</a>
    </nav>
</header>
<nav id="menu">
    <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/elements">Elements</a></li>
            <li><a href="/communications">Communications</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="/logout"> Log Out</a></li>
            {%  else %}
                <li><a href="/login">Log In</a></li>
                <li><a href="/signup">Sign Up</a></li>
            {% endif %}
        </ul>
        <a href="#" class="close">Close</a>
    </div>
</nav>
