<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(53, 56, 73, 0.95)">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Cacciatore's</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/menu">Menu</a>
        </li>
          {% if current_user.is_authenticated %}
                {% if current_user.is_admin %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin_dashboard">Admin Dashboard</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log Out</a>
                </li>
            {%  else %}
                <li class="nav-item">
                    <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#loginDialog">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#registerDialog">Sign Up</a>
                </li>
            {% endif %}
      </ul>
      <span class="navbar-text" id="navbarText">

      </span>
    </div>
  </div>
</nav>