{% extends 'layout.html' %}

{% block headerScripts %}
    <!-- header scripts here -->
{% endblock %}

{% block styles %}
    <!-- CSS style code here -->
{% endblock %}

{% block content %}

<!-- Page Wrapper -->
			<div id="page-wrapper">

{#				{% include 'elements/navigation.html' %}#}

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>The Gastronomic Delights we offer.<BR>Our Dishes.</h2>
								<p>Cacciatore's offers a fine selection of dishes for a refined palatte to more traditional italian american fare.<BR>If a picture is worth a thousand words, then perhaps you would enjoy perusing a veritable novel of the gastronomic repertoire you will enjoy with us.<BR><BR>
                                Please enjoy a look at the actual dishes served in our fine dining establishment taken by world famous food photographer Ken Dolen and  make Cacciatore's your destination for your next special night out.</p>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">

<section class="table">
                                    <div class = "gallery">
  <div class="clipped-border">
    <img src="{{ url_for('static', filename='/images/Entree/Mid/centered-side-of-plate-view-of-cheese-only-pizza-food-photography-high-end-ristorante-perfect-com-346868365.png')}}" alt="" id="clipped">
  </div>
  <div class="clipped-border">
    <img src="{{ url_for('static', filename='/images/Entree/Mid/chicago-style-deep-dish-pizza-food-photography-high-end-ristorante-88084053.png')}}" alt="" id="clipped">
  </div>
  <div class="clipped-border">
    <img src="{{ url_for('static', filename='/images/Entree/Mid/pepperoni-italian-sausage-basil-leaf-pizza-food-photography-high-end-ristorante-709953335.png')}}" alt="" id="clipped">
  </div>
    <div class="clipped-border">
    <img src="{{ url_for('static', filename='/images/Entree/Mid/plate-view-of-pizza-with-mushrooms-green-peppers-red-peppers-olives-and-onions-food-photography-234490615.png')}}" alt="" id="clipped">
    </div>
    <div class="clipped-border">
    <img src="{{ url_for('static', filename='/images/Entree/Mid/pizza-with-pepperoni-italian-sausage-bacon-food-photography-high-end-ristorante-perfect-composi-17968353.png')}}" alt="" id="clipped">
    </div>

                                         <div class="clipped-border">
    <img src="{{ url_for('static', filename='/images/Entree/Mid/side-plate-view-of-pizza-with-large-pineapple-chunks-cooked-ham-chunks-food-photography-high-end--978986893.png')}}" alt="" id="clipped">
  </div>
  <div class="clipped-border">
    <img src="{{ url_for('static', filename='/images/Entree/Mid/side-of-plate-view-of-pizza-bianca-food-photography-high-end-ristorante-perfect-composition-beau-779636309.png')}}" alt="" id="clipped">
  </div>
  <div class="clipped-border">
    <img src="{{ url_for('static', filename='/images/Entree/Mid/MOM-meatball-pizza-single-pizza-food-photography-high-end-ristorante-perfect-composition-bea-771054881.png')}}" alt="" id="clipped">
  </div>
    <div class="clipped-border">
    <img src="{{ url_for('static', filename='/images/CacciatoreLocationShot.png')}}" alt="" id="clipped">
    </div>
    <div class="clipped-border">
    <img src="{{ url_for('static', filename='/images/CacciatoreLocationShot.png')}}" alt="" id="clipped">
    </div>

</div>
</section>

									<h3 class="major">Lorem ipsum dolor</h3>
									<p>Morbi mattis mi consectetur tortor elementum, varius pellentesque velit convallis. Aenean tincidunt lectus auctor mauris maximus, ac scelerisque ipsum tempor. Duis vulputate ex et ex tincidunt, quis lacinia velit aliquet. Duis non efficitur nisi, id malesuada justo. Maecenas sagittis felis ac sagittis semper. Curabitur purus leo donec vel dolor at arcu tincidunt bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce ut aliquet justo. Donec id neque ipsum. Integer eget ultricies odio. Nam vel ex a orci fringilla tincidunt. Aliquam eleifend ligula non velit accumsan cursus. Etiam ut gravida sapien.</p>

									<p>Vestibulum ultrices risus velit, sit amet blandit massa auctor sit amet. Sed eu lectus sem. Phasellus in odio at ipsum porttitor mollis id vel diam. Praesent sit amet posuere risus, eu faucibus lectus. Vivamus ex ligula, tempus pulvinar ipsum in, auctor porta quam. Proin nec commodo, vel scelerisque nisi scelerisque. Suspendisse id quam vel tortor tincidunt suscipit. Nullam auctor orci eu dolor consectetur, interdum ullamcorper ante tincidunt. Mauris felis nec felis elementum varius.</p>

									<h3 class="major">Vitae phasellus</h3>
									<p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>



								</div>
							</div>

					</section>

{% endblock %}
