{% extends 'layout.html' %}

{% block headerScripts %}
    <!-- header scripts here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/main.css') }}">

{% endblock %}

{% block styles %}
    <!-- CSS style code here -->
{% endblock %}

{% block content %}

<!-- Page Wrapper -->
			<div id="page-wrapper">
				<!-- Navigation -->
{#                {% include 'elements/navigation.html' %}#}


				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><span class="icon fa-gem"></span></div>
							<h2>Cacciatore's</h2>
							<p>Boutique Italian Pizza and Cuisine</p>
                            <a href="/menu" type="button" class="btn btn-primary btn-lg">GET IT DELIVERED</a>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">
                        {% include "elements/alert_messages.html" %}
						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="#" class="image"><img src="{{ url_for('static', filename='/images/CacciatoreLocationShot.png')}}"  alt="" /></a>
									<div class="content">
										<h2 class="major">Hours, Locations and Reservations</h2>
										<p>Monday - Friday: 10am - 2pm <br>(We only work half days because we're students too!)<br></br>
										Saturday - Sunday: Closed <br>(We need to study and catch up on sleep!)<br></br>
								        404 Error: Location not found. <br>(We're always moving around, so finding us is part of the adventure!)<br></br>
										We're in the cloud. <br>(No, not that kind of cloud. The computing kind!)<br></br>
										To make a reservation, send an encrypted message to our AI chatbot. <br>(We like to keep things secure and high-tech!)<br></br>
										Sorry, we don't take reservations. Just show up and see if we're here! (We're students, so we're not always on schedule!)
										</p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section>

						<!-- Two -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="#" class="image"><img src="{{ url_for('static', filename='/images/Cacciatores_sunset.png')}}" alt="" /></a>
									<div class="content">
										<h2 class="major">The Cacciatore's Story</h2>
										<p>Established in 1981, in Los Angeles, Owners Enzo and Lucia opened Cacciatore's as an upscale eatery catering to the well to do in the Los Angeles Metro area. Hear their fascinating story and those of their children who have taken over the family business.</p>
										<a href="/story" class="special">Learn more</a>
									</div>
								</div>
							</section>
<section id="three" class="wrapper">
</section>

						<!-- Three -->
							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Our Menu</h2>
									<p>Derived from the finest Italian American recipes, Our food is the show piece of our business.<BR> Old world and new world recipes. The atmosphere of an Italian Villa in the heart of Los Angeles. The finest of dining experiences await you.</p>
									<section class="features">
										<article>
											<a href="#" class="image"><img src="{{ url_for('static', filename='/images/pic04.png')}}"  alt="" /></a>
											<h3 class="major">Our Dishes</h3>
											<p>Let your mouth water and your stomach rumble no longer. Have a look at our gastronomic delights.</p>
											<a href="/dishes" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="{{ url_for('static', filename='/images/pic05.png')}}"  alt="" /></a>
											<h3 class="major">Our Wine List</h3>
											<p>From the Connoseur to the common, we have a select menu for your in house pleasure. Please drive responsibly.</p>
											<a href="/winelist" class="special">Learn more</a>
										</article>
										
									</section>
									<ul class="actions">
										<li><a href="#" class="button">Return To Top</a></li>
									</ul>
								</div>
							</section>

					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							{% include 'elements/getInTouch.html' %}
							<ul class="copyright">
								<li>&copy; Group One Development. All rights reserved.</li><li>Design: <a href="groupone.html">Group One Development</a></li>
							</ul>
						</div>
					</section>

			</div>

    {% include "elements/register_modal.html" %}
    {% include "elements/login_modal.html" %}

{% endblock %}

{% block scripts %}

{% endblock %}
