{% extends 'layout.html' %}

{% block headerScripts %}
    <!-- header scripts here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/main.css') }}">
{% endblock %}

{% block styles %}
    <!-- CSS style code here -->
{% endblock %}

{% block content %}

		<!-- Page Wrapper -->
			<div id="page-wrapper">
				<!-- Menu -->
{#                {% include 'elements/navigation.html' %}#}

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>Online Ordering Menu</h2>
								<p>In search of something to satisfy the refined palatte but you can't come to us? Cacciatore's will deliver to you.</p>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">
                                {% for category in menu_data.dish_categories %}
                                    <div>
                                        <article>
                                            <h3 class="major">{{ category.category }}</h3>
                                        </article>
                                        <div class="row">
                                            {% for dish in category.dish_list %}
                                                <div class="card col-4 m-1" style="width: 18rem; background-color: rgba(53, 56, 73, 0.95);">
                                                  <img src="{{ dish.image }}" style="height: 11rem;" class="card-img-top" alt=""/>
                                                  <div class="card-body">
                                                    <h3 class="card-title">{{ dish.name }}</h3>
                                                    <p class="card-text">{{ dish.description[0:100]}}</p>
                                                      <p class="card-text text-end">Price: ${{'%0.2f' % dish.price|float }}</p>
                                                      <div class="input-group mb-3">
                                                        <input type="number" id="typeNumber" class="form-control" value="1" />
                                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                                      </div>
                                                  </div>
                                                </div>
                                            {% endfor %}
										</div>
                                    </div>
                                {% endfor %}


									<section class="features">
										<article>
											<a href="#" class="image"><img src="{{ url_for('static', filename='/images/pic04.png')}}"  alt="" /></a>
											<h3 class="major">Pizza's</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
										<article>
											<a href="#" class="image"><img src="{{ url_for('static', filename='/images/pic05.png')}}"  alt="" /></a>
											<h3 class="major">Beverage List</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.</p>
											<a href="#" class="special">Learn more</a>
										</article>
									</section>




{% include "elements/login_modal.html" %}
{% include "elements/register_modal.html" %}

{% endblock %}

{% block scripts %}

{% endblock %}