{% extends 'layout.html' %}

{% block headerScripts %}
    <!-- header scripts here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/main.css') }}">
{% endblock %}

{% block styles %}
    <!-- CSS style code here -->
{% endblock %}

{% block content %}

		<!-- Page Wrapper -->
			<div id="page-wrapper">
				<!-- Menu -->
{#                {% include 'elements/navigation.html' %}#}

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>Online Ordering Menu</h2>
								<p>In search of something to satisfy the refined palatte but you can't come to us? Cacciatore's will deliver to you.</p>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">
                                {% for category in menu_data.dish_categories %}
                                    <section class="table">
                                        <article>
                                            <h3 class="major">{{ category.category }}</h3>
                                        </article>
                                        <div class="row">
                                            {% for dish in category.dish_list %}
                                                <div class="card col-4 m-1" style="width: 18rem; background-color: rgba(53, 56, 73, 0.95);">
                                                  <img src="{{ dish.image }}" style="object-fit: cover;" class="card-img-top" alt="...">
                                                  <div class="card-body">
                                                    <h5 class="card-title">{{ dish.name }}</h5>
                                                    <p class="card-text">{{ dish.description[0:100]}}</p>
                                                      <p class="card-text">Price: ${{ dish.price }}</p>
                                                      <div class="input-group mb-3">
                                                        <input type="number" id="typeNumber" class="form-control" value="1" />
                                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                                      </div>
                                                  </div>
                                                </div>
                                            {% endfor %}
										</div>
                                    </section>
                                {% endfor %}

    <div class="wrapper">
								<div class="inner">
                                {% for category in menu_data.bev_categories %}
                                    <section class="table">
                                        <article>
                                            <h3 class="major">{{ category.category }}</h3>
                                        </article>
                                        <div class="row">
                                            {% for bev in category.bev_list %}
                                                <div class="card col-4 m-1" style="width: 18rem; background-color: rgba(53, 56, 73, 0.95);">
                                                  <img src="{{ bev.image }}" style="object-fit: cover;" class="card-img-top" alt="...">
                                                  <div class="card-body">
                                                    <h5 class="card-title">{{ bev.name }}</h5>
                                                    <p class="card-text">{{ bev.description[0:100]}}</p>
                                                      <p class="card-text">Price: ${{ bev.price }}</p>
                                                      <div class="input-group mb-3">
                                                        <input type="number" id="typeNumber" class="form-control" value="1" />
                                                        <a href="#" class="btn btn-primary">Add to Cart</a>
                                                      </div>
                                                  </div>
                                                </div>
                                            {% endfor %}
										</div>
                                    </section>
                                {% endfor %}







{% include "elements/login_modal.html" %}
{% include "elements/register_modal.html" %}

{% endblock %}

{% block scripts %}

{% endblock %}