{% extends 'layout.html' %}

{% block headerScripts %}
    <!-- header scripts here -->
{% endblock %}

{% block styles %}
    <!-- CSS style code here -->
    <style>
        td{
            vertical-align: middle;
        }
    </style>
    <style>
        body {
            background-color: #692d32;/* #2e3141;*/
            background-image: linear-gradient(to top, rgba(46, 49, 65, 0.8), rgba(46, 49, 65, 0.2)), url({{ url_for('static', filename='/images/bg.png') }});
            background-size: auto, cover;
            background-attachment: fixed, fixed;
            background-position: center, center;
        }
    </style>
{% endblock %}

{% block content %}

<!-- Page Wrapper -->
<div class="row mx-3" style="margin-top:80px;">
    <div class="col-12 py-3">
        <div class="card" style="background-color: #212529;">
            <div class="card-body" >
            <div class="row">
                <div class="col">
                    <h3 class="card-title" style="color: #dee2e6;">ORDER CONFIRMATION:</h3>
                    <p class="" style="color: #dee2e6;">{{order.datetime}}</p>
                </div>
                <div class="col">
                <h5 class="card-title text-end" style="color: #dee2e6;">DELIVERY ADDRESS</h5>
                <p class="text-end" style="color: #dee2e6;">{{ order.delivery_address.address }}</p>
                <p class="text-end" style="color: #dee2e6;">{{ order.delivery_address.city }}, {{ order.delivery_address.state }} {{ order.delivery_address.zipcode }}</p>
                </div>
            </div>
                <hr style="margin-top:5px;">
                <table class="table table-dark table-striped">
                    <div class="table-wrapper">
                        <thead>
                            <tr>
                                <th scope="col">Description</th>
                                <th scope="col">Qty</th>
                                <th scope="col" class="text-end">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                             {% for item in order.cart_items %}
                            <tr>

                                <td>{{ item.name }}</td>
                                <td>{{ item.qty }}</td>
                                <td class="text-end">${{ '%0.2f' % item.total_price|float }}</td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </div>
                </table>
                <div class="row">
                <div class="col-9"></div>
                <div class="col-3">
                <table class="table table-dark table-striped">
                    <div class="table-wrapper">
                        <tr>
                            <td class="text-end"> Total Price:</td>
                            <td class="text-end">
                                ${{ '%0.2f' % order.total_price|float }}
                            </td>
                        </tr>
                    </div>
                </table>
                </div>
                </div>


            <!--address starts here-->
                    <hr>
            <div class="text-end">
                <a type="button" class="btn btn-success" style="margin-right: 1em;" href="/">Return to Homepage</a>
            </div>
            </div>
        </div>
    </div>
</div>

{% include "elements/login_modal.html" %}
{% include "elements/register_modal.html" %}

{% endblock %}

{% block scripts %}
<script>
        $(document).ready(function(){
            console.log('visit logged')
            $.getJSON('https://ipapi.co/json/', function(data){
                let dataToSend = ""
                for(var key in data){
                    var combined = key.concat("=", data[key])

                    dataToSend += combined
                    if(key != "org"){
                        dataToSend += "&"
                    }
                }

                $.ajax({
                    type: "GET",
                    url: "/log_visit",
                    contentType: 'application/json',
                    data: dataToSend
                });
            })

        });
    </script>
{% endblock %}
