{% extends 'layout.html' %}

{% block headerScripts %}
    <!-- header scripts here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/main.css') }}">

{% endblock %}

{% block styles %}
    <!-- CSS style code here -->
{% endblock %}

{% block content %}

<!-- Page Wrapper -->
            <div id="page-wrapper">

{#              {% include 'elements/navigation.html' %}#}

                <!-- Wrapper -->
                    <section id="wrapper">
                        <header>
                            <div class="inner">
                                <h2>The Cacciatore's Story...</h2>
                                </div>
                        </header>

                        <!-- Content -->
                            <div class="wrapper">
                                <div class="inner">




<section class="table">
<h3 class="major">Where it all Began, Enzo and Lucia Cacciatore.</h3>
    <div style="width:100%;">
        <div style="float: left;width: 20%;">
            <img class='story-image' src="{{ url_for('static', filename='/images/Enzo_Lucia.png')}}">
        </div>
    <p>In 1958, Enzo Cacciatore was born to his loving parents Geno and Sylvia in the Campagna region of Naples, internationally recognized as the pizza capital of the world. When he was just 14 years old, Geno went to the markets with his family who taught him and his sister Maria how to select only the freshest best quality vegetables and cuts of meat for their family dinners. As Enzo grew, he became ingratiated in the food industry in Napoli, taking a job at the L'antica Pizzeria Da Michele, in the heart of Naples. It was here that Enzo learned the craft of pizza making from the experts.</p>
    <p>In 1976, Enzo met a young woman who he had noticed quite by chance as she came in with her ticket. Insisting on delivering the young lady her order himself, he paid the server, Salvatore, to allow him to deliver the pizza to her table. A year later, Enzo, inspired by her beauty (and being in modest financial debt to Salvatore), struck up a conversation with her. That woman who graced the pizzeria three times per week, would, within three years become Mrs. Lucia Cacciatore. Since then, the couple has been inseparable. In 1981, seeking an opportunity to see the world, Enzo and Lucia began to travel, settling for a time in Los Angeles, California.</p>
    <p>Eager for the foods they had both grown up on, the area sadly boasted plenty of foods, but nothing like the pizza’s with the sponge like crust, the crisp tartness of fresh tomato and the succulent joy of fresh mozzarella. Before long, Enzo and Lucia opened up a small restaurant and through hard work and a striking devotion to bring their foods across the pacific, Cacciatore’s grew. Word of mouth soon increased their visibility and over the next two decades, Cacciatore grew from that humble restaurant into the ‘must visit’ destination that we are today.</p>
    </div></section>
                                    <div class="wrapper alt style 1">
                                <div class="inner">
<section class="table">
    <h3 class="major">The Legacy Continues, Michel and Catherine Cacciatore.</h3>
    <div style="width:100%;">
        <div style="float: right;width: 20%;">
            <img class='story-image' src="{{ url_for('static', filename='/images/Michel_Catherine.png')}}">
        </div>
    <p>In 1982 having just established themselves in America, Enzo and Lucia, welcomed their son, appropriately named Michel, (named after the place where they had met) into the world. Michel grew up at the restaurant with his parents and met his future wife Catherine… at the medical center across the street.</p>
    <p>However, that meeting was Kismet and at age 25, Michel and Catherine tied the knot. Continuing to work at his father’s restaurant, growing the brand and investing back into the restaurant, it was only natural that when Enzo and Lucia began to talk of retirement, Their son and his wife stepped up to the plate to take over the family business.</p>
                                        <p>Today, at age 41, Michel and Catherine continue to produce the quality pizza and Italian dishes that their parents made famous with an upscale flair. Their commitment to quality and the family business continues unwavered.</p>

                                </div>
                            </div>

                    </section><section class="wrapper alt style1">
    <div class="inner">
        <ul class="actions">
										<li><a href="#" class="button">Return To Top</a></li>
									</ul>
    </div>
                    </section>
</div>

{% endblock %}

{% block scripts %}
<script>
        $(document).ready(function(){
            console.log('visit logged')
            $.getJSON('https://ipapi.co/json/', function(data){
                let dataToSend = ""
                for(var key in data){
                    var combined = key.concat("=", data[key])

                    dataToSend += combined
                    if(key != "org"){
                        dataToSend += "&"
                    }
                }

                $.ajax({
                    type: "GET",
                    url: "/log_visit",
                    contentType: 'application/json',
                    data: dataToSend
                });
            })

        });
    </script>
{% endblock %}