{% extends 'layout.html' %}

{% block headerScripts %}
    <!-- header scripts here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/main.css') }}">

{% endblock %}

{% block styles %}
    <!-- CSS style code here -->
{% endblock %}

{% block content %}

<!-- Page Wrapper -->
            <div id="page-wrapper">

{#              {% include 'elements/navigation.html' %}#}

                <!-- Wrapper -->
                    <section id="wrapper">
                        <header>
                            <div class="inner">
                                <h2>Our Wine List</h2>
                                </div>
                        </header>

                        <!-- Content -->
                            <div class="wrapper">
                                <div class="inner">




<section class="table">
<h3 class="major">Placeholder</h3>

        <p>Please note that items on the wine list are strictly available for your enjoyment on premises only.</p>

        <table>
            <thead>
              <tr>
                <th>SPARKLING WINES & CHAMPAGNE | Listed from milder to stronger</th>
                <th>Glass</th>
                <th>Bottle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>La Marca | Extra Dry<BR>Prosecco | Veneto | Italy | NV</td>
                <td>9</td>
                <td>36</td>
              </tr>
              <tr>
                <td>Segura Viudas | Brut<BR>Catalonia, Spain | NV
                    </td>
                <td>7</td>
                <td>28</td>
              </tr>
              <tr>
                <td>Brut Prestige by Mumm Napa | Brut<BR>Napa Valley, California | NV</td>
                <td></td>
                <td>60</td>
              </tr>
              <tr>
                <td>Impérial by Moët & Chandon | Brut<BR>Champagne, France | NV</td>
                <td></td>
                <td>99</td>
              </tr>
              <tr>
                <td>Yellow Label by Veuve Clicquot | Brut<BR>Champagne, France | NV</td>
                <td></td>
                <td>110</td>
              </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                  <th>SWEET WHITE/BLUSH WINES | Listed from sweetest to least sweet</th>
                  <th>Glass</th>
                  <th>Bottle</th>
                </tr>
            </thead>
        <tbody>
              <tr>
                <td>Beringer | White Zinfandel<BR>California</td>
                <td>6</td>
                <td>24</td>
              </tr>
              <tr>
                <td>Château Ste. Michelle | Riesling<BR>Columbia Valley | Washington</td>
                <td>8</td>
                <td>32</td>
              </tr>

            </tbody>
            </table>
            <table>
                <thead>
                    <tr>
                      <th>LIGHTER INTENSITY WHITE/ROSÉ WINES | Listed from milder to stronger</th>
                      <th>Glass</th>
                      <th>Bottle</th>
                    </tr>
                </thead>
            <tbody>
                <tr>
                    <td>Friuli Grave by Pighin | Pinot Grigio <BR>Venezia Giulia, Italy</td>
                    <td>9</td>
                    <td>36</td>
                </tr>
                <tr>
                    <td>Meridian Vineyards | Pinot Grigio<BR>California</td>
                    <td>7</td>
                    <td>28</td>
                </tr>
                <tr>
                    <td>Brancott Estate | Sauvignon Blanc<BR>Marlborough | New Zealand</td>
                    <td>9</td>
                    <td>36</td>
                </tr>
                <tr>
                    <td>Provenance Vineyards | Sauvignon Blanc<BR>Rutherford, California</td>
                    <td></td>
                    <td>56</td>
                </tr>
                <tr>
                    <td>J Vineyards & Winery | Vin Gris<BR>Russian River Valley | California</td>
                    <td></td>
                    <td>48</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                  <th>FULLER INTENSITY WHITE WINES | Listed from milder to stronger</th>
                  <th>Glass</th>
                  <th>Bottle</th>
                </tr>
            </thead>
        <tbody>
            <tr>
                <tr>
                    <td>Everyday by The Dreaming Tree | White Blend<BR>Central Coast, California</td>
                    <td></td>
                    <td>35</td>
                </tr>
                <tr>
                    <td>Chateau St. Jean | Chardonnay<BR>North Coast, California</td>
                    <td>8</td>
                    <td>32</td>
                </tr>
                <tr>
                    <td>Century Cellars by BV | Chardonnay<BR>California</td>
                    <td>7</td>
                    <td>28</td>
                </tr>
                <tr>
                    <td>Complicated by Taken Wine Company | Chardonnay<BR>Sonoma County, California</td>
                    <td></td>
                    <td>48</td>
                </tr>
                <tr>
                    <td>St. Supéry | Chardonnay<BR>Oak Free | Napa Valley, California</td>
                    <td></td>
                    <td>42</td>
                </tr>
                <tr>
                    <td>Russian River Ranches by Sonoma Cutrer | Chardonnay<BR>Sonoma Coast, California</td>
                    <td>12</td>
                    <td>48</td>
                </tr>
                <tr>
                    <td>Cakebread Cellars | Chardonnay<BR>Napa Valley, California</td>
                    <td></td>
                    <td>78</td>
                </tr>
                <tr>
                    <td>Rombauer | Chardonnay<BR>Carneros, California</td>
                    <td></td>
                    <td>76</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                  <th>LIGHTER INTENSITY RED WINES | Listed from milder to stronger</th>
                  <th>Glass</th>
                  <th>Bottle</th>
                </tr>
            </thead>
        <tbody>
            <tr>
                <tr>
                    <td>La Crema | Pinot Noir<BR>Sonoma Coast, California</td>
                    <td>9</td>
                    <td>36</td>
                </tr>
                <tr>
                    <td>Mark West | Pinot Noir<BR>California</td>
                    <td>8</td>
                    <td>32</td>
                </tr>
                <tr>
                    <td>Kim Crawford | Pinot Noir<BR>Marlborough, New Zealand</td>
                    <td></td>
                    <td>38</td>
                </tr>
                <tr>
                    <td>Tavola by Ponzi Vineyards | Pinot Noir<BR>Willamette Valley, Oregon</td>
                    <td></td>
                    <td>56</td>
                </tr>
                <tr>
                    <td>Avalon | Cabernet Sauvignon<BR>California</td>
                    <td>8</td>
                    <td>32</td>
                </tr>
                <tr>
                    <td>Century Cellars by BV | Cabernet Sauvignon<BR>California</td>
                    <td>7</td>
                    <td>28</td>
                </tr>
                <tr>
                    <td>Alamos | Malbec<BR>Mendoza, Argentina</td>
                    <td></td>
                    <td>36</td>
                </tr>
                <tr>
                    <td>Century Cellars by BV | Merlot<BR>California</td>
                    <td>7</td>
                    <td>28</td>
                </tr>
                <tr>
                    <td>St. Francis Vineyards | Merlot<BR>Sonoma Valley, California</td>
                    <td>14</td>
                    <td>56</td>
                </tr>
                <tr>
                    <td>Estancia Vineyards | Cabernet Sauvignon<BR>Paso Robles, California</td>
                    <td></td>
                    <td>36</td>
                </tr>
                <tr>
                    <td>Rutherford Hill | Merlot<BR>Napa Valley, California</td>
                    <td></td>
                    <td>65</td>
                </tr>
                <tr>
                    <td>Educated Guess by Roots Run Deep | Merlot<BR>Napa Valley, California</td>
                    <td></td>
                    <td>46</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                  <th>FULLER INTENSITY RED WINES | Listed from milder to stronger</th>
                  <th>Glass</th>
                  <th>Bottle</th>
                </tr>
            </thead>
        <tbody>
            <tr>
                <tr>
                    <td>Aquinas | Cabernet Sauvignon<BR>Napa Valley, California</td>
                    <td>12</td>
                    <td>48</td>
                </tr>
                <tr>
                    <td>Swanson | Merlot<BR>Oakville, California</td>
                    <td></td>
                    <td>70</td>
                </tr>
                <tr>
                    <td>Viña Montes | Cabernet Sauvignon<BR>Alpha Apalta Vineyard, Colchagua Valley, Chile</td>
                    <td></td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>Columbia Crest | Cabernet Sauvignon<BR>Horse Heaven Hills, Washington</td>
                    <td></td>
                    <td>45</td>
                </tr>
                <tr>
                    <td>Troublemaker by Austin Hope | Red Blend<BR>Paso Robles, California</td>
                    <td></td>
                    <td>42</td>
                </tr>
                <tr>
                    <td>Estate by Franciscan | Cabernet Sauvignon<BR>Napa Valley, California</td>
                    <td>15</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>Jordan | Cabernet Sauvignon<BR>Alexander Valley, California</td>
                    <td></td>
                    <td>110</td>
                </tr>
                <tr>
                    <td>Ferrari Carano | Cabernet Sauvignon<BR>Alexander Valley, California</td>
                    <td></td>
                    <td>66</td>
                </tr>
            </tbody>
        </table>
<!--
            <table>
            <thead>
                <tr>
                  <th>SAMPLE TABLE | CODE</th>
                  <th>Glass</th>
                  <th>Bottle</th>
                </tr>
            </thead>
        <tbody>
            <tr>
                <tr>
                    <td><BR></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><BR></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
-->







</div></section>
                                    <section class="wrapper alt style1">
    <div class="inner">
        <ul class="actions">
										<li><a href="#" class="button">Return To Top</a></li>
									</ul>
    </div>
                    </section>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}