{% extends 'layout.html' %}

{% block headerScripts %}
    <!-- header scripts here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/main.css') }}">

{% endblock %}

{% block styles %}
    <!-- CSS style code here -->
{% endblock %}

{% block content %}

<!-- Page Wrapper -->
            <div id="page-wrapper">

{#              {% include 'elements/navigation.html' %}#}

                <!-- Wrapper -->
                    <section id="wrapper">
                        <header>
                            <div class="inner">
                                <h2>Our Wine List</h2>
                                </div>
                        </header>

                        <!-- Content -->
                            <div class="wrapper">
                                <div class="inner">




<section class="table">
<h3 class="major">Placeholder</h3>

        <p>Please note that items on the wine list are strictly available for your enjoyment on premises only.</p>

        <table>
            <thead>
              <tr>
                <th>SPARKLING WINES & CHAMPAGNE | Listed from milder to stronger</th>
                <th>Glass</th>
                <th>Bottle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>La Marca | Extra Dry<BR>Prosecco | Veneto | Italy | NV</td>
                <td>9</td>
                <td>36</td>
              </tr>
              <tr>
                <td>Segura Viudas | Brut<BR>
                    Brut | Cava | “Aria” | Catalonia, Spain | NV
                    </td>
                <td>7</td>
                <td>28</td>
              </tr>
              <tr>
                <td>Mumm Napa | Brut<BR>“Prestige” | Napa Valley, California | NV</td>
                <td></td>
                <td>60</td>
              </tr>
              <tr>
                <td>Moët & Chandon | Brut<BR>“Impérial” | Champagne, France | NV</td>
                <td></td>
                <td>99</td>
              </tr>
              <tr>
                <td>Veuve Clicquot | Brut<BR>“Yellow Label” | Champagne, France | NV</td>
                <td></td>
                <td>110</td>
              </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                  <th>SWEET WHITE/BLUSH WINES | Listed from sweetest to least sweet</th>
                  <th>Glass</th>
                  <th>Bottle</th>
                </tr>
            </thead>
        <tbody>
              <tr>
                <td>Beringer | White Zinfandel<BR>California</td>
                <td>6</td>
                <td>24</td>
              </tr>
              <tr>
                <td>Château Ste. Michelle | Riesling<BR>Columbia Valley | Washington</td>
                <td>8</td>
                <td>32</td>
              </tr>

            </tbody>
            </table>
            <table>
                <thead>
                    <tr>
                      <th>LIGHTER INTENSITY WHITE/ROSÉ WINES | Listed from milder to stronger</th>
                      <th>Glass</th>
                      <th>Bottle</th>
                    </tr>
                </thead>
            <tbody>
                <tr>
                    <td>Pighin | Pinot Grigio <BR>Friuli Grave | Friuli | Venezia Giulia, Italy</td>
                    <td>9</td>
                    <td>36</td>
                </tr>
                <tr>
                    <td>Meridian Vineyards | Pinot Grigio<BR>California</td>
                    <td>7</td>
                    <td>28</td>
                </tr>
                <tr>
                    <td>Brancott Estate | Sauvignon Blanc<BR>Marlborough | New Zealand</td>
                    <td>9</td>
                    <td>36</td>
                </tr>
                <tr>
                    <td>Provenance Vineyards | Sauvignon Blanc<BR>Rutherford, California</td>
                    <td></td>
                    <td>56</td>
                </tr>
                <tr>
                    <td>J Vineyards & Winery | Vin Gris<BR>Russian River Valley | California</td>
                    <td></td>
                    <td>48</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                  <th>FULLER INTENSITY WHITE WINES | Listed from milder to stronger</th>
                  <th>Glass</th>
                  <th>Bottle</th>
                </tr>
            </thead>
        <tbody>
            <tr>
                <tr>
                    <td>The Dreaming Tree | White Blend<BR>“Everyday” | Central Coast, California</td>
                    <td></td>
                    <td>35</td>
                </tr>
                <tr>
                    <td><BR></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

<!--
            <table>
            <thead>
                <tr>
                  <th>SAMPLE TABLE | CODE</th>
                  <th>Glass</th>
                  <th>Bottle</th>
                </tr>
            </thead>
        <tbody>
            <tr>
                <tr>
                    <td><BR></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><BR></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
-->







</div></section>
                                    <section class="wrapper alt style1">
    <div class="inner">
        <ul class="actions">
										<li><a href="#" class="button">Return To Top</a></li>
									</ul>
    </div>
                    </section>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}