{% extends 'layout.html' %}

{% block headerScripts %}
    <!-- header scripts here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/main.css') }}">

{% endblock %}

{% block styles %}
    <!-- CSS style code here -->
{% endblock %}

{% block content %}

<!-- Page Wrapper -->
            <div id="page-wrapper">

{#              {% include 'elements/navigation.html' %}#}

                <!-- Wrapper -->
                    <section id="wrapper">
                        <header>
                            <div class="inner">
                                <h2>Our Wine List</h2>
                                </div>
                        </header>

                        <!-- Content -->
                            <div class="wrapper">
                                <div class="inner">




<section class="table">
<h3 class="major">placeholder</h3>
    <div style="width:100%;">

        <p>placeholder</p></div></section>
                                    <div class="wrapper alt style 1">
                                <div class="inner">
<section class="table">
    <h3 class="major">placeholder</h3>

        <p>placeholder</p>>
                                </div>
                            </div>

                    </section><section class="wrapper alt style1">
    <div class="inner">
        <ul class="actions">
										<li><a href="#" class="button">Return To Top</a></li>
									</ul>
    </div>
                    </section>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}